@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body {
    background-color: #f5f5dc; /* Creamy background color */
    color: #333333; /* Darker text color for better contrast */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    margin-bottom: 10px;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
 
.content-wrapper {
    display: flex;
    align-items: center;
    gap: 100px;
    width: 80%; 
    max-width: 1200px;
  }
  
  .text-content {
    width: 50%;
    font-size: 1.2em;
  }
  
  .image-content {
    width: 50%;
    text-align: center; 
  }
  
  .image-content img {
    max-width: 110%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .content-wrapper {
      flex-direction: column;
      align-items: center;
    }
    .text-content, .image-content {
      width: 100%;
    }
  }
  
  